.paragraph {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .word {
    display: inline-flex;
    white-space: nowrap;
    margin-right: 4px;
  }
  
  .char {
    position: relative;
    display: inline-block;
  }
  
  .shadow {
    position: absolute;
    opacity: 0.15;
    color: white;
  }
  